body {
  font-family: "Roboto", sans-serif;
  background: rgb(248,248,242);
  background: linear-gradient(315deg, rgba(248,248,242,1) 0%, rgba(68,71,90,1) 66%, rgba(40,42,54,1) 100%);
  color: #f8f8f2;
  text-align: center;
}

#container {
  width: 90vw;
  height: 80vh;
  margin: 20px auto;
}

#calculator {
  width: 320px;
  height: 520px;
  background-color: #f8f8f2;
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color: #e9e9e9;
}

#result {
  height: 120px;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #44475a;
}

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
  color: #282a36;
}

#keyboard {
  height: 400px;
}

.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}

.number {
  background-color: #d1d1d1;
}
.empty {
  background-color: #f8f8f2;
}

.number,
.operator {
  cursor: pointer;
}

.operator:active,
.number:active {
  font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}

button:nth-child(4) {
  font-size: 20px;
  background-color: #50fa7b;
}

button:nth-child(8) {
  font-size: 20px;
  background-color: #ffb86c;
}

button:nth-child(12) {
  font-size: 20px;
  background-color: #ff5555;
}

button:nth-child(16) {
  font-size: 20px;
  background-color: #8be9fd;
}

button:nth-child(20) {
  font-size: 20px;
  background-color: #bd93f9;
}
